{% extends "index.html" %}

{% block appcontent %}

    <h2 class="uk-heading-primary animate uk-invisible" style="font-weight: 500;">List of Brands</h2>
    <div class="uk-width-4-5@m uk-margin-auto animate uk-invisible">

        <table class="styled-table">
        <thead class="table-dark">
            <tr>
                <th scope="col">Topic Name</th>
                <th scope="col">Created At</th>
                <th scope="col">Active</th>
                <th scope="col">Trendline</th>
                <th scope="col">Pause</th>
                <th scope="col">Remove</th>
            </tr>
        </thead>
        <tbody>

            {% if topics %}
                {% for topic in topics %}
                    <tr>
                        <td><a href={% url 'reddit_sentiment_analyzer:chart' topic.topic_name%}><u>{{ topic.topic_name }}</u></a></td>
                        <td>{{ topic.created_at }}</td>
                        <td>{{ topic.active }}</td>
                        <td><a href={% url 'reddit_sentiment_analyzer:trendline' topic.topic_name%}><u>trendline</u></a></td>

                        {% if topic.active %}
                        <td><a href="{% url 'reddit_sentiment_analyzer:pause_topic' topic.topic_name %}"><i class="fas fa-pause"></i></a></td>
                        {% else %}
                        <td><a href="{% url 'reddit_sentiment_analyzer:pause_topic' topic.topic_name %}"><i class="fas fa-play"></i></a></td>
                        {%  endif %}

                        <td><a href="{% url 'reddit_sentiment_analyzer:delete_topic' topic.topic_name %}"><i class="fas fa-trash-alt"></i></a></td>

                    </tr>
                {% endfor %}

            {% endif %}

        </tbody>
        </table>

    </div>

{% endblock %}