<!doctype html>
{% extends "base.html" %}
{% block content %}
<html>
<head>
    {% load static %}
    <title>Reddit Sentiment</title>
    <link rel="icon" href="img/favicon.ico">
    <style>
        .wrap::before {
            position: absolute;
            height: 100vh;
            width: 100vw;
            content: '';
            z-index: 1;
            background-color: rgba(0,0,0,0.5);
        }
        .lead {
            font-size: 1.175em;
            font-weight: 300;
        }
        .uk-logo img {
            height: 28px;
        }
	</style>

</head>

<body class="uk-light wrap uk-background-norepeat uk-background-cover uk-background-center-center uk-cover-container uk-background-secondary">
    <img data-srcset="https://picsum.photos/id/274/640/700/?blur=8 640w,
                    https://picsum.photos/id/274/960/700/?blur=8 960w,
                    https://picsum.photos/id/274/1200/900/?blur=8 1200w,
                    https://picsum.photos/id/274/2000/1000/?blur=8 2000w"
            sizes="100vw"
            data-src="https://picsum.photos/id/274/1200/900/?blur=8" alt="" data-uk-cover data-uk-img
    >
    <div class="uk-flex uk-flex-center uk-flex-middle uk-height-viewport uk-position-z-index uk-position-relative" data-uk-height-viewport="min-height: 400">
        <!-- NAV -->
        <div class="uk-position-top">
            <div class="uk-container uk-container-small">
                <nav class="uk-navbar-container uk-navbar-transparent" data-uk-navbar>
                    <div class="uk-navbar-left">
                        <div class="uk-navbar-item">
                            <a class="uk-logo" href="">RedditSentiment</a>
                        </div>
                    </div>
                    <div class="uk-navbar-right">
                        <ul class="uk-navbar-nav">
                            <li class="uk-active uk-visible@m"><a href={% url 'reddit_sentiment_analyzer:user_home' %} data-uk-icon="home"></a></li>
                            <li class="uk-visible@s"><a href={% url 'reddit_sentiment_analyzer:about' %}>About</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- /NAV -->
        <!-- TEXT -->
        <div class="uk-container uk-container-small uk-flex-auto uk-text-center" data-uk-scrollspy="target: > .animate; cls: uk-animation-slide-bottom-small uk-invisible; delay: 300">
            <div class="uk-width-4-5@m uk-margin-auto animate uk-invisible">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-4">
                            <canvas id="sentimentChart" width="400" height="400" ></canvas>

                            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                            <script>
                                // Retrieve the sentiment percentage value from the Django view
                                var positiveSentiment = {{ sentiment.positive_sentiment }};
                                var negativeSentiment = {{ sentiment.negative_sentiment }};
                                var neutralSentiment = {{ sentiment.neutral_sentiment }};

                                    // Create the pie chart
                                    var ctx = document.getElementById('sentimentChart').getContext('2d');
                                    var chart = new Chart(ctx, {
                                        type: 'pie',
                                        data: {
                                            labels: ['Positive', 'Negative', 'Neutral'],
                                            datasets: [{
                                                data: [positiveSentiment, negativeSentiment, neutralSentiment],
                                                backgroundColor: ['#63ff9a', '#FF6384', '#36A2EB'],
                                            }]
                                        },
                                        options: {
                                            responsive: true,
                                            maintainAspectRatio: false
                                        }
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
            </div>
        </div>


     <div class="uk-container uk-container-small uk-flex-auto uk-text-center" data-uk-scrollspy="target: > .animate; cls: uk-animation-slide-bottom-small uk-invisible; delay: 300">
        <h1 class="uk-heading-primary animate uk-invisible" style="font-weight: 500;">Streaming Dashboard</h1>

        <h1></h1>
        <div id="data-container" style="width: 500px; height: 350px; overflow-x: hidden;">
            <!-- Data will be added here dynamically using JavaScript -->
        </div>

        <!-- Include JavaScript for WebSocket connection -->
        <script>
            const socket = new WebSocket('ws://' + window.location.host + '/ws/reddit_comments/');

            socket.onmessage = function (event) {
                // Process the received data from the server and add it to the dashboard
                console.log('Something received.');
                let data = JSON.parse(event.data);
                console.log(data);
                addDataToDashboard(data);
            };

            // Handle WebSocket connection events
            socket.onopen = function (event) {
                console.log('WebSocket connection established. awesome');

            };



            socket.onclose = function (event) {
                console.log('WebSocket connection closed.');
            };

            // Function to add data to the dashboard
            function addDataToDashboard(data) {
                // Modify this function to display data on the dashboard as needed
                var dataContainer = document.getElementById('data-container');
                dataContainer.innerHTML += '<p>' + JSON.stringify(data) + '</p>';
            }
        </script>
    </div>
    </div>
</body>
</html>

{% endblock %}
