{% extends "index.html" %}
{% load static %}

{% block appcontent %}
    <h2>Trendline Analysis Chart</h2>
    <form id="dropdownForm">
        <label for="options">Select a Topic:</label>
        <select name="options" id="options">
            <option value="">Select an option</option>
            {% for option in options %}
                <option value="{{ option.topic_name }}"
                        {% if option == selected_option %}selected{% endif %}>{{ option }}</option>
            {% endfor %}
        </select>
    </form>

    <script>
        // Handle the change event of the drop-down
        document.getElementById('options').addEventListener('change', function () {
            var selectedOption = this.value;
            console.log(selectedOption);
            // Perform redirection based on the selected option
            if (selectedOption !== '') {
                window.location.href = "/trendline/" + selectedOption;
            } else {
                window.location.href = "{% url 'reddit_sentiment_analyzer:trendline' %}"
            }

            // Add more conditions for other options if needed
        });
    </script>

    <br>

    <div>
        <!-- Selection for aggregation -->
        <label for="aggregation">Select Aggregation:</label>
        <select id="aggregation">
            <option value="daily">Daily</option>
            <option value="monthly">Monthly</option>
            <option value="yearly">Yearly</option>
        </select>
    </div>
    <br/>
    <div id="chart-container">
        <!-- The chart will be displayed here -->
        <canvas id="trendlineChart" width="700" height="300"></canvas>
    </div>

    <!-- Include Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var myChart;

        function destroyChart() {
            if (typeof myChart !== "undefined") {
                myChart.destroy();
            }
        }

        // Function to update the chart data based on aggregation level
        function updateChartData(aggregation) {

            destroyChart();
            var trendlineData = {{ trendline_data|safe }}; // Data from the context
            console.log(trendlineData)
            var chartData;
            if (aggregation === 'daily') {
                chartData = trendlineData.daily;
            } else if (aggregation === 'monthly') {
                chartData = trendlineData.monthly;
            } else if (aggregation === 'yearly') {
                chartData = trendlineData.yearly;
            }

                // Create the chart
            var ctx = document.getElementById("trendlineChart").getContext("2d");
                myChart = new Chart(ctx, {
                    type: "line",
                    data: {
                        labels: chartData.labels,
                        datasets: [{
                            label: "Trendline Data",
                            data: chartData.data,
                            backgroundColor: "rgba(75, 192, 192, 0.2)",
                            borderColor: "rgba(75, 192, 192, 1)",
                            borderWidth: 1,
                            fill: true
                        }]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        scales: {
                            y: {
                                beginAtZero: true,
                                ticks: {
                                    callback: function (value, index, values) {
                                        // Custom labels for y-axis
                                        if (value === 0) {
                                            return "Neutral";
                                        } else if (value > 0) {
                                            return "Positive";
                                        } else {
                                            return "Negative";
                                        }
                                    }
                                }
                            }
                        }
                    }
                });
        }

        // Handle the change event of the aggregation selection
        document.getElementById('aggregation').addEventListener('change', function () {
            var selectedAggregation = this.value;
            updateChartData(selectedAggregation);
        });

        // Initialize the chart with daily data by default
        updateChartData("daily");
    </script>

    </div>
        <!-- /TEXT -->
{% endblock %}